.html_string__demo_home__icon {
    height: 60px;
    max-width: 100%;
}
.html_string__demo_home__icon_sm {
    height: 30px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}