{# Demo forgotten password :: Twig template #}
<div>
    {{ strings.get("html_string__demo_forgotten_password__string_three") }}
</div>
<div class="mt-4">
    {{ strings.get("html_string__demo_forgotten_password__string_four")|raw }}
</div>